function Main.main 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 100
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
